* {font-family: 'Lexend Deca', sans-serif;}
nav {background-color:#aaff99}
label {display:block!important}
.navmenu, .menu-item {display:inline-block;list-style-type: none;margin:.6em;padding:.2em}
.menu-item a {spadding:.2em}

.input {margin-bottom:.4em}
#content{max-width:80%;margin:0 auto}
#content ul {margin:.5em 0;padding:0}
li.info {list-style-type:none;border-left:4px solid #77aa88;background-color:#ddffcc;padding:1em; width:80%}
li.error {list-style-type:none;border-left:4px solid #aa7788;background-color:#ffccdd;padding:1em; width:80%}

table.main.chart {width:100%}
table.main.chart td {padding:0.4em}
.statistics {border-collapse: separate;border-spacing:.3em}
.statistics td {background-color:#dadada;padding:.4em;border:.4em;text-align:center;}

#footer {margin-top:3em}
