<form action="" method="post">
            {{form.csrf}}
<div class="input text">
                {{ form.name.label }} {{ form.name }}</div>
<div class="input select">
                {{ form.location.label }} {{ form.location }}</div>
<div class="input text">
                {{ form.light_hours.label }} {{ form.light_hours }}</div>
<div class="input text">
                {{ form.temperature.label }} {{ form.temperature }}</div>                
<div class="input submit">
                <input type="submit" value="Submit"></div>
</form>
