{% include 'header.html' %}
<h2>{{title_verb}} Season</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
{% for message in messages %}
 	<li class="{{message[0]}}"><i class="glyphicon glyphicon-{{icon}}"></i> {{ message[1] }}</li>
{% endfor %}</ul>
{% endif %}
{% endwith %}

<form action="" method="post">
            {{form.csrf}}
<div class="input text">
                {{ form.name.label }} {{ form.name }}</div>
<div class="input text">
                {{ form.location.label }} {{ form.location }}</div>
<div class="input date">
                {{ form.start.label }} {{ form.start }}</div>
<div class="input date">
                {{ form.end.label }} {{ form.end }}</div>
<div class="input text">
                {{ form.light_hours.label }} {{ form.light_hours }}</div>
<div class="input submit">
{% if row['id'] %}
<input type=hidden name=id value="{{row['id']}}" />
{% endif %}
                <input type="submit" value="Submit"></div>
</form>

{% include 'footer.html' %}
