{% include 'header.html' %}
<h2>Add Plant</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
{% for message in messages %}
 	<li>{{ message[1] }}</li>
{% endfor %}</ul>
{% endif %}
{% endwith %}
<form action="" method="post">
            {{form.csrf}}
<div class="input text">
                {{ form.name.label }} {{ form.name }}</div>
<div class="input select">
                {{ form.gender.label }} {{ form.gender }}</div>
<div class="input select">
                {{ form.strain.label }} {{ form.strain }}</div>
<div class="input select">
                {{ form.season.label }} {{ form.season }}</div>
<div class="input submit">
                <input type="submit" value="Submit"></div>
</form>

{% include 'footer.html' %}
