{% include 'header_print.html' %}
<h2><i class="fas fa-{{icon}}" style="margin-right:.2em"></i>Daily Log</h2>

	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li class="{{message[0]}}"><i class="fas fa-{{icon}}"></i> {{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<h3>Log Date: {{total_logs}}</h3>
{{ table }}
<script>
	$(document).ready(function(){
		window.print()
	})
</script>
{% include 'footer.html' %}
