{% include 'header.html' %}
<h2>Repellents</h2>
<p><a href="{{ url_for('.add_new_repellent_view') }}">Add Repellent</a></p>

<p>
	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li class="{{message[0]}}"><i class="glyphicon glyphicon-{{icon}}"></i> {{ message[1] }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<strong>Total repellents: {{total_repellents}}</strong>
{{ table }}
{% include 'footer.html' %}
